body{
	background: #fff;
	color: #212121;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	font-style: 15px;
	font-weight: 500;
	
}
*,
*:before,
*:after{
	box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 10px;*/
/*    background-color: #ff4800;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);*/
/*    border-radius: 5px;*/
/*}*/

/*Panel*/
.panel{
	background-color: #fff ;
	width: 100%;
	height: 55px;
	position: absolute;
}

/*header*/

.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.header__Logo{
	font-size: 25px;
	font-weight: 700;
}

.header__inner{
	margin: 9px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Nav*/

.Nav{
	font-size: 20px;
	font-weight: 600;
}

.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: #212121;
	text-decoration: none;

	transition: color .2s linear;
}

.nav__link:after{
	content:"";
	display: block;
	width: 100%;
	height: 3px;
	
	background: #c94a00;
	opacity: 0;

	
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .5s linear;
}

.nav__link:hover{
	color: #c94a00;
	transition:color .5s linear;
}

.nav__link:hover:after{
	opacity: 1;
	transition: .5s linear;
}

/*Container*/

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.container__inner{
	margin-top: 200px;
}

/*intro*/

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	width: 100%;
	height: 100vh;
	background: url('../imeges/1.jpg') center no-repeat;
	-webkit-background-size: cover;
	/*background-size: cover;*/                                                       /*ЕСЛИ ШО РАСКОМЕНТИТЬ!!!!!!!!!!*/
}

.intro__inner{
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
}

.intro_-title{
	color: #fff;
	font-size: 60px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 30px;
}

.intro__sup{
	color: #fff;
	font-size: 22px;
	font-weight: 400;

}

/*Button*/

.btn{
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 20px;
	font-weight: 700px;
	text-decoration: none;
	margin-top: 100px;
	
	padding: 15px 30px;
	border: 3px solid #fff;
	text-transform: uppercase;
}

.btn:hover{
	background: #c94a00 ;
	transition: 0.5s linear;
}

.left{
	margin-right: 15px;
	width: 205px;
}

.right{
	margin-left: 15px;
	width: 205px;
}

/* Slider */

.slider{
	position: relative;
	margin: 100px auto 10px auto;
}

/* Section */

.section{
	padding: 125px 0;
}

.section__header{
	width:100%;
	max-width: 630px;
	text-align: center;
	margin: 0 auto;
}

.section__title{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}

.section__text{
	font-size:15px;
	font-weight: 400;
}

/* About */

.About{
	width: 100%;
	max-width: 1060px;
	margin: 130px auto  0 ;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.about__item__Awesome{
	width: 100%;
	max-width: 260px;
}

.about__item__One{
	width: 100%;
	max-width: 260px;
}

.about__item__Fully{
	width: 100%;
	max-width: 260px;
}

.about__imeges{
	margin-bottom: 30px;
}

/*Section__Two*/

.section__two{
	padding: 125px 0;
	background: #c2faf0e1;
}

.section__header__two{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	max-width: 630px;
}

/*About__Two*/

.About__two{
	justify-content: space-between;
	margin: 113px auto 0 auto ;
	width: 100%;
	text-align: center;
	display: flex;
}

.About__two_two{
	justify-content: space-between;
	margin: 30px auto 0 ;
	width: 100%;
	text-align: center;
	display: flex;
}

.about__imeges_two_Section{
	width: 100px;
	height: 100px;
}

.about__item__Research{
	background: #fff;
	padding: 50px 45px;
	margin: 0 0 0 115px;
}

.about__item__Portfolio{
	background: #fff;
	padding: 50px 45px;
	margin: 0 30px;
}

.about__item__Support{
	background: #fff;
	padding: 50px 45px;
	margin: 0 115px 0 0;
}

.about__item__Documentation{
	background: #fff;
	padding: 50px 45px;
	margin: 0 0 0 115px;
}

.about__item__Development{
	background: #fff;
	padding: 50px 45px;
	margin: 0 30px;
}

.about__item__Desing{
	background: #fff;
	padding: 50px 45px;
	margin: 0 115px 0 0;
}

/* Text title two*/

.text_title{
	margin: 5px 0 30px;
}

.text_title_linner{
	margin-bottom: 50px;
}

/* Btn two */

.btn_two{
	padding: 18px 15px;
	color: black;
	display: inline-block;
	justify-content: space-between;
	border: 2px solid black;
	text-decoration: none;
}
